<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ValheimFTPSync.Properties.ServerArgsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ValheimFTPSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ValheimFTPSync.Properties.ServerArgsSettings>
            <setting name="Name" serializeAs="String">
                <value>My server</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2456</value>
            </setting>
            <setting name="World" serializeAs="String">
                <value>Dedicated</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>secret</value>
            </setting>
            <setting name="Nographics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Batchmode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Crossplay" serializeAs="String">
                <value>True</value>
            </setting>
        </ValheimFTPSync.Properties.ServerArgsSettings>
        <ValheimFTPSync.Properties.Settings>
            <setting name="ServerAppFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayPostion" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FtpUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpPassword" serializeAs="String">
                <value />
            </setting>
        </ValheimFTPSync.Properties.Settings>
    </userSettings>
</configuration>